@import '~antd/dist/antd.css';

.logo {
  height: 32px;
  background-image: url(/geja.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 16px;
}

html,
body
{
  min-width: 385px;
}
